.hero {
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;
    flex-wrap: wrap;
}

.hero > * {
    flex: 1 1 50%;
}

.hero__left h1 {
    font-size: 4rem;
}

.hero__right {
    display: flex;
    justify-content: center;
}

.hero__right img {
    height: 500px;
    border-radius: 50%;
}