@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(50deg, HSL(205.7, 87.5%, 93.7%), #ede5f4);
}

:root {
  --primary-dark: #112D4E;
  --secondary-dark: #3F72AF;
  --primary-light: #F9F7F7;
  --secondary-light: #DBE2EF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button[type='button'] {
  padding: 1rem;
  background-color: var(--primary-dark);
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
