.wrapper {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    gap: 4rem;
}

.nav ul>li {
    list-style: none;
}